[submodule "sub-sageui"]
	path = sub-sageui
	url = https://www.github.com/sageflow/sageui
[submodule "sub-sageauth"]
	path = sub-sageauth
	url = https://www.github.com/sageflow/sageauth
[submodule "sub-sageengine"]
	path = sub-sageengine
	url = https://www.github.com/sageflow/sageengine
[submodule "sub-sageapi"]
	path = sub-sageapi
	url = https://www.github.com/sageflow/sageapi
